    <footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10 mt-24">
        <nav>
            <h6 class="footer-title">Contact</h6>
            <a class="link link-hover" href="mailto:judytramnguyen@gmail.com">Email</a>
            <a class="link link-hover" href="https://www.linkedin.com/in/judy-nguyen-77677735a" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a class="link link-hover" href="https://github.com/judz-n" target="_blank" rel="noopener noreferrer">GitHub</a>
        </nav>
        <nav>
            <h6 class="footer-title">Site</h6>
            <a class="link link-hover" href="/#about">About</a>
            <a class="link link-hover" href="/#projects">Projects</a>
            <a class="link link-hover" href="/#experience">Experience</a>
            <a class="link link-hover" href="/#contact">Contact</a>
        </nav>
        <aside>
            <p>&copy; <%= new Date().getFullYear() %> Judy Nguyen. All rights reserved.</p>
        </aside>
    </footer>

</body>
</html>
